.blog-list {
    margin: 5vh auto;
    width: 75vw;
    min-width: 200px;
    text-align: left;
    position: relative;
}

[class='author card-title h5'] {
    text-align: right;
    position: absolute;
    bottom: 0.1rem;
    right: 1rem;
}

[class='url card-text'] {
    text-align: right;
    position: absolute;
    top: 0.1rem;
    right: 1rem;
}
