.newBlog {
    margin: 2vh auto;
    min-width: 200px;
    text-align: left;
    position: relative;
}

#save-button {
    left: 0;
    width: 45%;
}

#clear-button {
    right: 0;
    width: 45%;
    position: absolute;
}

#logout-button {
    right: 0;
    top: -1.2vh;
    position: absolute;
}

#content {
    height: 7rem;
}
