.login-form {
    width: 20vw;
    min-width: 200px;
    margin: 5vh 12.5vw 5vh auto;
    text-align: left;
    line-height: 2rem;
    text-transform: uppercase;
    position: relative;
}

#register-button {
    right: 0;
    width: 45%;
    position: absolute;
}

#login-button{
    left:0;
    width: 45%;
}