.error {
    margin: auto;
    width: fit-content;
    display: flex;
    text-align: center;
    padding: 0 2rem 0 2rem;
    border: 2px black solid;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}
