.registration-form {
    width: 20vw;
    min-width: 200px;
    margin: 2vh auto;
    text-align: left;
    line-height: 2rem;
    text-transform: uppercase;
    position: relative;
}

#register-button {
    left: 0;
    width: 45%;
}

#back-button {
    right: 0;
    width: 45%;
    position: absolute;
}
