.App {
    text-align: left;
}

#app-header {
    margin: 1rem;
    position: relative;
}

#log-status {
    position: absolute;
    right: 0;
    top: 0;
}

#logout-button {
    right: 1rem;
    top: 3rem;
    position: absolute;
}
